/* ------------Body------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    max-width: 100vw;
}

a {
    color: rgb(219, 218, 218);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

#buy {
    margin-left: 30px;
}

#tryitfree {
    margin-left: 30px;
}

.underline:hover {
    text-decoration: underline;
}

/* ------------Navigation Bar------------- */

#header {
    position: sticky;
    top: 0;
}

#navbar ul {
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px 130px;
    display: flex;
    justify-content: space-around;
}

.apple {
    width: 12px;
}


.search {
    width: 20px;
}

.bag {
    width: 19px;
}

/* ------------iPhone 14 Pro------------- */

#middlearea1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#firstbgimg {
    background-image: url(./Images/hero_iphone14pro__e5xbgo5ffhg2_largetall.jpg);
    color: rgb(255, 255, 255);
    height: 700px;
    width: 100%;
    background-position: center;
    padding-top: 60px;
}

#firstbgimg h1 {
    font-size: 50px;
}

#firstbgimg p {
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#firstbgimg li {
    display: inline;
}

#firstbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 20px;
} 

/* -----------------iPhone 14------------------- */

#secondbgimg {
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(./Images/hero_iphone14__fjmsqstr1ceq_largetall.jpg);
    height: 700px;
    width: 100%;
    background-position: center;
    padding-top: 80px;
    margin-bottom: 10px;
}

#secondbgimg h1 {
    font-size: 50px;
}

#secondbgimg p {
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#secondbgimg li {
    display: inline;
}

#secondbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 20px;
} 


/* ---------------Watch Series 8--------------- */

#thirdbgimg {
    color: rgb(255, 255, 255);
    background-image: url(./Images/hero_apple_watch_series_8__bjc1ok5mkjua_largetall.jpg);
    height: 550px;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 10px;
}

#thirdbgimg p {
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#thirdbgimg li {
    display: inline;
}

#thirdbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 20px;
} 

/* ----------------Watch Ultra----------------- */

#middlearea2 {
    margin: 0px 10px 10px 10px;
    height: 550px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#forthbgimg {
    background-image: url(./Images/promo_apple_watch_ultra__gnsqulvdc4a6_large.jpg);
    color: rgb(0, 0, 0);
    width: 49.5%;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

#forthbgimg p {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#forthbgimg li {
    display: inline;
}

#forthbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 17px;
} 

#buy {
    margin-left: 30px;
}

.underline:hover {
    text-decoration: underline;
}

/* ------------Fitness  + ------------- */

#fifthbgimg {
    background-image: url(./Images/beyonce_promo__c8bt5lllfl2e_medium.jpg);
    color: rgb(255, 255, 255);
    width: 49.5%;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

#fifthbgimg p {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 2px;
}

#fifthbgimg li {
    display: inline;
}

#fifthbgimg li a{
    color: rgb(255, 255, 255);
    line-height: 2em;
    font-size: 17px;
} 

/* ------------A gift for every wish------------- */

#middlearea3 {
    margin: 0px 10px 10px 10px;
    height: 550px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#sixbgimg {
    background-image: url(./Images/promo__sw58lbodkmqq_large.jpg);
    color: rgb(255, 255, 255);
    width: 49.5%;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

#sixbgimg h1 {
    font-size: 38px;
}
#sixbgimg p {
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 10px;
}

#sixbgimg li {
    display: inline;
}

#sixbgimg li a{
    color: #ffffff;
    line-height: 2em;
    font-size: 17px;
}

/* ------------------Ipad------------------- */

#sevenbgimg {
    color: rgb(0, 0, 0);
    background-image: url(./Images/promo_ipad__fioegapg12qi_large.jpg);
    width: 49.5%;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

#sevenbgimg h1 {
    font-size: 38px;
}

#sevenbgimg p {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#sevenbgimg li {
    display: inline;
}

#sevenbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 17px;
} 

/* -----------------------Arcade------------------------ */
#middlearea4 {
    margin: 0px 10px 10px 10px;
    height: 550px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#eightbgimg {
    background-image: url(./Images/promo_airpods_pro_avail__gaxggskofx6y_large.jpg);
    color: rgb(255, 255, 255);
    width: 49.5%;
    background-position: center;
    /* background-size: cover; */
    padding-top: 50px;
}

#eightbgimg h1 {
    font-size: 40px;
    font-weight: 500;
    padding-top: 10px;
}

#eightbgimg h5 {
    font-size: 21px;
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 10px;
}

#eightbgimg li {
    display: inline;
}

#eightbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 17px;
} 

/* -----------------------Card------------------------ */

#ninebgimg {
    background-image: url(./Images/tile__cauwwcyyn9hy_large.jpg);
    color: rgb(0, 0, 0);
    width: 49.5%;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

#ninebgimg h5 {
    font-size: 20px;
    line-height: 1em;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 5px;
}

#ninebgimg li {
    display: inline;
}

#ninebgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 17px;
} 

/* -----------------------Last  center image------------------------ */

.willsmithpic {
    width: 100%;
}

/* -----------------------Footer Paragraph------------------------ */

#footer {
    background-color: rgb(255, 255, 255);
}

#lastpara {
    color: rgb(119, 113, 113);
    width: 78%;
    margin: 0 auto;
    padding: 17px 0px 11px 0;
    border-bottom: 1px solid rgb(148, 148, 148);
}


.footnotepara {
    font-size: 13px;
    list-style-type: none;
    line-height: 1em;
    padding-bottom: 20px;
    text-align: justify;
}

.footnotepara a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* --------------------Footer Table---------------------- */

#foottable {
    color: rgb(119, 113, 113);
    width: 78vw;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 2em;
}

#foottable td {
    width: 100vw;
    padding-right: 10px;
    margin-right: 5px;
}

.heading {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#lastarea {
    color: rgb(119, 113, 113);
    width: 78vw;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 2em;
}

.mwshop{
    border-bottom: 1px solid rgb(148, 148, 148);
    padding-bottom: 4px;
}

.mwshop a {
    color: #06c;
}

.lastline {
    display: flex;
    justify-content: space-between;
}

.privacy a {
    color: rgb(53, 52, 52);
    font-size: 12px;
    border-right: 1px solid grey;
    padding: 0px 15px 0px 15px;
}

.countryname a {
    color: rgb(53, 52, 52);
    font-size: 12px;
}
