/* ------------Body------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* ------------Navigation Bar------------- */

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul {
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px 130px;
    display: flex;
    justify-content: space-around;
}

.apple {
    width: 12px;
}

a {
    color: rgb(219, 218, 218);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

.search {
    width: 20px;
}

.bag {
    width: 20px;
}

/* ------------iPhone 14 Pro------------- */

#firstbgimg {
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url(./Images/hero_iphone14pro__e5xbgo5ffhg2_largetall.jpg);
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

#firstbgimg h1 {
    font-size: 50px;
}

#firstbgimg p {
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#firstbgimg li {
    /* list-style-type: none; */
    display: inline;
}

#firstbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 20px;
} 

#buy {
    margin-left: 30px;
}

.underline:hover {
    text-decoration: underline;
}

/* -----------------iPhone 14------------------- */

#secondbgimg {
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(./Images/hero_iphone14__fjmsqstr1ceq_largetall.jpg);
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 10px;
}

#secondbgimg h1 {
    font-size: 50px;
}

#secondbgimg p {
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#secondbgimg li {
    display: inline;
}

#secondbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 20px;
} 

#buy {
    margin-left: 30px;
}

.underline:hover {
    text-decoration: underline;
}

/* ---------------Watch Series 8--------------- */

#thirdbgimg {
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url(./Images/hero_apple_watch_series_8__bjc1ok5mkjua_largetall.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 10px;
}

#thirdbgimg p {
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#thirdbgimg li {
    display: inline;
}

#thirdbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 20px;
} 

#buy {
    margin-left: 30px;
}

.underline:hover {
    text-decoration: underline;
}

/* ----------------Watch Ultra----------------- */

#forthbgimg {
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(./Images/promo_apple_watch_ultra__gnsqulvdc4a6_large.jpg);
    height: 550px;
    width: 48%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    padding-top: 55px;
    margin: 0px 10px 10px 10px ;
}

#forthbgimg p {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#forthbgimg li {
    display: inline;
}

#forthbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 16px;
} 

#buy {
    margin-left: 30px;
}

.underline:hover {
    text-decoration: underline;
}

/* ------------Fitness  + ------------- */

#fifthbgimg {
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(./Images/promo-apple-fitness-plus-iphone__bzeal882mv7m_large.jpg);
    height: 550px;
    width: 48%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    padding-top: 55px;
    margin: 0px 10px 10px 10px ;
}

#fifthbgimg p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
}

#fifthbgimg ul {
    padding-bottom: 5px;
}

#fifthbgimg li {
    display: inline;
}

#fifthbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 16px;
} 

#tryitfree {
    margin-left: 30px;
}

.underline:hover {
    text-decoration: underline;
}

/* ------------A gift for every wish------------- */

#sixbgimg {
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url(./Images/promo__sw58lbodkmqq_large.jpg);
    height: 550px;
    width: 48%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    padding-top: 50px;
    margin: 0px 10px 10px 10px ;
}

#sixbgimg h1 {
    font-size: 35px;
}
#sixbgimg p {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
}

#sixbgimg li {
    display: inline;
}

#sixbgimg li a{
    color: #ffffff;
    line-height: 2em;
    font-size: 17px;
} 

/* #buy {
    margin-left: 30px;
} */

.underline:hover {
    text-decoration: underline;
}

/* ------------------Ipad------------------- */

#sevenbgimg {
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(./Images/promo_ipad__fioegapg12qi_large.jpg);
    height: 550px;
    width: 48%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    padding-top: 50px;
    margin: 0px 10px 10px 10px ;
}

#sevenbgimg h1 {
    font-size: 38px;
}

#sevenbgimg p {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#sevenbgimg li {
    display: inline;
}

#sevenbgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 16px;
} 

#buy {
    margin-left: 30px;
}

.underline:hover {
    text-decoration: underline;
}

/* -----------------------Arcade------------------------ */

#eightbgimg {
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url(./Images/xoxo_promo__czow8gsh0gk2_large.jpg);
    height: 550px;
    width: 48%;
    background-position: center;
    background-size: cover;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    float: left;
    padding-top: 50px;
    margin: 0px 10px 10px 10px ;
}

#eightbgimg h5 {
    font-size: 18px;
    line-height: 1em;
    font-weight: 400;
    padding-top: 10px;
}

.bottom {
    position: relative;
    top: 320px;
}

#eightbgimg h6 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}

#eightbgimg li {
    display: inline;
}

#eightbgimg li a{
    color: rgb(255, 255, 255);
    line-height: 2em;
    font-size: 16px;
} 

#tryitfree {
    margin-left: 30px;
}


/* -----------------------Card------------------------ */

#ninebgimg {
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(./Images/tile__cauwwcyyn9hy_large.jpg);
    height: 550px;
    width: 48%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    padding-top: 50px;
    margin: 0px 10px 10px 10px ;
}

#ninebgimg h5 {
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 5px;
}

#ninebgimg li {
    display: inline;
}

#ninebgimg li a{
    color: #06c;
    line-height: 2em;
    font-size: 16px;
} 

/* -----------------------Last  center image------------------------ */

#tenbgimg{
    width: 100%;
}

/* -----------------------Footer Paragraph------------------------ */

#lastpara {
    background-color: rgb(255, 255, 255);
    color: rgb(119, 113, 113);
    width: 78%;
    margin: 0 auto;
    padding: 17px 0px 11px 0;
}


.footnotepara {
    font-size: 13px;
    list-style-type: none;
    line-height: 1em;
    padding-bottom: 20px;
    text-align: justify;
}

.footnotepara a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footnotepara a:hover {
    text-decoration: underline;
}

hr {
    width: 78%;
    margin: auto;
}

/* --------------------Footer Table---------------------- */

#foottable {
    color: rgb(119, 113, 113);
    width: 78vw;
    padding-top: 18px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 2em;
}

#foottable td {
    width: 100vw;
    padding-right: 10px;
    margin-right: 5px;
}

.heading {
    font-weight: bold;
    color: rgb(0, 0, 0);
}